## TP3 - Exercice 3 (Détection d’anomalie : implémentation, pratique et observations)  - 17/10/2025

### Objectif :

1. Donner les matrices de paramètres du modèle statistique utilisant l’algorithme classique des
calculs des densités de probabilité partielles.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.metrics import pairwise_distances_argmin

In [3]:
# Données initiales encodées
data = np.array([
    [1.0, 0.0, 0.0, 0.3],
    [0.3, 0.3, 0.75, 0.0],
    [0.0, 1.0, 0.0, 0.3],
    [0.75, 0.3, 0.0, 0.3],
    [0.0, 1.0, 0.0, 0.3],
    [0.0, 0.0, 1.0, 0.3]
])

columns = ['x1 (café)', 'x2 (courses)', 'x3 (sport)', 'x4 (maison)']
df = pd.DataFrame(data, columns=columns)
df.index = np.arange(1, len(df)+1)
df

   x1 (café)  x2 (courses)  x3 (sport)  x4 (maison)
1       1.00           0.0        0.00          0.3
2       0.30           0.3        0.75          0.0
3       0.00           1.0        0.00          0.3
4       0.75           0.3        0.00          0.3
5       0.00           1.0        0.00          0.3
6       0.00           0.0        1.00          0.3

In [4]:
# Centroïdes initiaux
G1 = np.array([0.3, 0.1, 0.2, 0.6])
G2 = np.array([0.2, 0.2, 0.6, 0.5])

centroids = np.vstack([G1, G2])
centroids_df = pd.DataFrame(centroids, columns=columns, index=['G1', 'G2'])
centroids_df

    x1 (café)  x2 (courses)  x3 (sport)  x4 (maison)
G1        0.3           0.1         0.2          0.6
G2        0.2           0.2         0.6          0.5